*
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body
{
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #fff;
}

.clearfix
{
	clear:both;
}

#blackLayer
{
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 99;
}

#bg
{
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#bg img
{
	height: 120vh;
	width: 105%;
	-webkit-filter: blur(20px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#container
{
	width: 330px;
	min-height: 400px;
	background:#555;
	overflow: auto;
	margin: 10px auto;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: #666 solid 2px;

	position: absolute;
	z-index: 999;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#audio-image
{
	position: relative;
	overflow: hidden;
	height: 350px;
	margin-bottom: 10px;
}

#info
{
	text-align: center;

}

#info .artist
{
	font-weight: bold;
}

.cover
{
	width: 100%;
	z-index: 1;
}

input#volume
{
	width: 95%;
	margin-left: 2%;
	background: #ccc;
	height: 1px;
	margin-bottom: 20px;
	-webkit-appearance: none !important;
}

#buttons
{
	width: 90%;
	display: block;
	margin: 15px auto;
	margin-left: 23px;
	overflow: auto;
}

#play
{
	width: 70px;
	height:70px;
	background:url(play.png) no-repeat;
	float:left;
}

#pause
{
	width: 70px;
	height:70px;
	background:url(pause.png) no-repeat;
	float:left;
}

#prev
{
	width: 70px;
	height:70px;
	background:url(prev.png) no-repeat;
	float:left;
	margin-top: 15px;
}

#next
{
	width: 70px;
	height:70px;
	background:url(next.png) no-repeat;
	float:right;
}

#playlist
{
	list-style: none;
	padding-left: 10px;
}

#playlist li
{
	cursor: pointer;
	margin-right: 5px;
}

#playlist li.active
{
	font-weight: bold;
	padding: 3px;
	background:#666;
}

#progressbar
{
	width: 80%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background:url(progressempty.png) no-repeat;
	float left;
}

#progress
{
	background:url(progressfull.png) no-repeat;
	height: 10px;
	display: inline-block;
	position: absolute;
}

#duration
{
	position: absolute;
	top: 0;
	right: 10px;
	padding: 4px 8px;
	background: #000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#tracker
{
	position: relative;
	width: 100%;
}