*
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body
{
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #fff;
}

.clearfix
{
	clear:both;
}

#blackLayer
{
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 99;
}

#bg
{
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#bg img
{
	width: 105%;
	-webkit-filter: blur(20px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#container
{
	width: 330px;
	min-height: 400px;
	background:#555;
	overflow: auto;
	margin: auto;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: #666 solid 2px;

	position: absolute;
	z-index: 999;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#audio-image
{
	position: relative;
	overflow: hidden;
	height: 345px;
	margin-bottom: 10px;
}

#info
{
	text-align: center;

}

.cover
{
	width: 100%;
	z-index: 1;
}

input#volume
{
	width: 70%;
	margin-left: 50px;
	background: #ccc;
	height: 1px;
	margin-bottom: 20px;
	-webkit-appearance: none !important;

	position: relative;
}

#volume::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: red;
}

#buttons
{
	margin: auto;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.volumeIcon
{
	margin-top: 2px;
	margin-left: 15px;
	width: 7%;
	position: absolute;
}

#play
{
	width: 50px;
	height: 50px;
	background:url(play.png) no-repeat;
	background-size: 50px;
	float:left;
}

#pause
{
	width: 50px;
	height: 50px;
	background:url(pause.png) no-repeat;
	background-size: 50px;
	float:left;
}

#prev
{
	width: 40px;
	height: 40px;
	background:url(prev.png) no-repeat;
	background-size: 40px;
	float:left;

	margin-top: 5px;
	margin-right: 10px;
}

#next
{
	width: 40px;
	height: 40px;
	background:url(next.png) no-repeat;
	background-size: 40px;

	margin-top: 5px;
	margin-left: 10px;
}

#playlist
{
	list-style: none;
	padding-left: 10px;
}

#playlist li
{
	cursor: pointer;
	margin-right: 5px;
}

#playlist li.active
{
	font-weight: bold;
	padding: 1px;
	background:#666;
}

#progressbar
{
	/*width: 100%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background:url(progressempty.png) no-repeat;
	float left;*/

	margin-top: 7px;
	margin-left: 50px;

	width: 70%;
    margin-bottom: 20px;
    height: 10px;
    background: #ddd;
    float: left;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#progress
{
	/*background:url(progressfull.png) no-repeat;
	height: 10px;
	display: inline-block;
	position: absolute;*/

	position: absolute;
    background: red;
    height: 10px;
    display: inline-block;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

#duration
{
	position: absolute;
	
	left: 5px;
	padding: 4px 8px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#endDuration
{
	position: absolute;
	
	right: 5px;
	padding: 4px 8px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#tracker
{
	position: relative;
	width: 100%;
}