
body
{
	background-color: #ddd;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3
{
	margin: 0;
}

/*table, th, td
{
	border: 1px solid black;
}
*/
table td input
{
	padding: 4px;
}

input[type="text"], input[type="tel"], input[type="email"]
{
	width: 100%;
	box-sizing: border-box;
	-webkit- box-sizing: border-box;
	-moz- box-sizing: border-box;
}

table td #stateTax
{
	width: 100%;
	padding: 4px;
}

table td #cardType
{
	width: 100%;
	padding: 4px;
}

table td #month
{
	padding: 4px;
}

table td #year
{
	padding: 4px;
}

table
{
	border-spacing: 20px 5px;
}

#outside
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	min-height: 97vh;
}

#mainInside
{
	display: grid;
	grid-template-columns: 55% 45%;
}

#column1 img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#column1 input[type="submit"]
{
	background-color: #000;
	border: none;
	color: white;
	padding: 6px 18px;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

#column1 #returnText a
{
	background-color: #000;
	border: none;
	color: white;
	padding: 6px 18px;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

#column1
{
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
}

#column2
{
	background-color: #fff;
	padding-top: 140px;
	padding-left: 60px;
}

#footer
{
	background-color: #fff;
	color: black;
	width: 1200px;
	padding: 6px;
	margin: auto;

	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer .footerText
{
	font-size: 10px;
}

#footer .icons img
{
	height: 25px;
}