
body
{
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3
{
	margin: 0;
}

#container
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	min-height: 97vh;
}

#header
{
	background-color: #fff;
	text-align: center; 
	padding: 10px;
}

#content
{
	padding: 10px;
	display: grid;
	grid-row-gap: 1em;
	padding-bottom: 60px;
}

#nav a
{
	text-decoration: none;
	color: black;
}

#nav .selected
{
	font-weight: bold;
	color: red;
}

#nav #cart
{
	float: right;
	padding-right: 10px;
}

#nav
{
	background-color: #eee;
	text-align: center;
	word-spacing: 15px;
	width: 1200px;
	margin: auto;
	padding: 6px;
}

#footer
{
	background-color: #fff;
	color: black;
	width: 1200px;
	padding: 6px;
	margin: auto;

	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer .footerText
{
	font-size: 10px;
}

#footer .icons img
{
	height: 25px;
}

.hide
{
	display: none;
}