
#main .latestAlbum
{
	height: 300px; 
	border-radius: 8px;
}

#main
{
	width: 1200px;
	padding: 6px;
	/*background-color: #eee;*/
	margin: auto;
	display: grid;
	grid-template-columns: 30% 70%;
}

hr
{
	width: 1200px;
}

#videos
{
	margin: auto;
}

#videoButtons
{
	margin: auto;
}

#videoButtons button
{
	background-color: #000;
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}